/*==BEGINING==*/

#productSection {
    margin-top: 25%;
    /* border: 1px solid red; */
}

#productSection #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#title h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--writeUp-color);
}

#title h3 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--heading-color);
}

#title p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--writeUp-color);
}


/*==PRODUCT CARDS==*/

#card-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-self: center;
    gap: clamp(1rem, 2vw, 2.5rem);
    margin-top: 50px;
    width: clamp(20%, 90vw, 75%);
    /* border: 1px solid red; */
}


/*==PRODUCT CARD AND HOVER ACTIONS==*/

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(.5rem, 1vw, 1rem);
    width: 100%;
    max-width: 30rem;
    overflow: hidden;
    /* border: 1px solid red; */
}


/*==PRODUCT IMAGE==*/

.product-image-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-image-wrapper img {
    display: block;
    width: 100%;
    transition: transform .3s ease;
}


/*==IMG HOVER ACTION==*/

.product-card:hover .product-image-wrapper img {
    transform: scale(1.08);
}


/*==ACTION BTNS==*/

.product-actions {
    position: absolute;
    top: 30%;
    right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(.4rem, 1vw, 1rem);
    /* border: 1px solid red; */

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .2s ease;
}

.product-card:hover .product-actions {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#compare-product-btn,
#like-product-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(1.5rem, 3vw, 2.5rem);
    height: clamp(1.5rem, 3vw, 2.5rem);

    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #737373;
    cursor: pointer;

    font-size: clamp(.7rem, 1.3vw, 1rem);
    font-weight: 700;
}

#like-product-btn .liked {
    color: var(--red-color);
}


/*==DISCOUNT==*/

.discount {
    position: absolute;
    top: 45%;
    left: 10%;

    font-size: clamp(.65rem, 1.3vw, 1rem);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--red-color);

    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
}


/*==DISCOUNT HOVER==*/

.product-card:hover .discount {
    opacity: 1;
    visibility: visible;
}


/*==OUT OF STOCK==*/

.out-of-stock {
    position: absolute;
    top: 15%;
    left: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(4rem, 7vw, 7rem);
    padding: .5em;

    font-size: clamp(.55rem, .9vw, .8rem);
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #252B42;
    background-color: #252b425d;

    /* border: 1px solid red; */

    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
}


/*==OUT OF STOCK HOVER ACTION==*/

.product-card:hover .out-of-stock {
    opacity: 1;
    visibility: visible;
}


/*==RATING==*/

.rating-wrapper {
    font-size: clamp(.6rem, 1vw, 1rem);

    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
}

.product-card:hover .rating-wrapper {
    opacity: 1;
    visibility: visible;
}


/*==ADD TO BSKT BTN==*/

.add-to-basket {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: .6em;

    box-shadow: 0px 0px 5px #BDBDBD;
    border: 1px solid #E6E6E6;
    border-left: none;
    border-right: none;

    cursor: pointer;

    font-size: clamp(.6rem, 1vw, 1rem);
    font-weight: 700;
    color: #168BD0;
    background-color: #F9F9F9;

    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
}


/*==DISABLED ADD TO BSKT BTN==*/

.add-to-basket:disabled {
    cursor: not-allowed;
    color: #168cd098;
    background-color: #bdbdbd2d;
}


/*==ADD TO BSKT HOVER ACTION==*/

.product-card:hover .add-to-basket {
    opacity: 1;
    visibility: visible;
}


/*==TITLE==*/

.product-card h5 {
    margin: 0;
    font-size: clamp(.65rem, 1.2vw, 1rem);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: var(--heading-color);
}

.product-card a {
    text-decoration: none;
    font-size: clamp(.55rem, 1vw, .9rem);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--writeUp-color);
}


/*==PRICE==*/

.product-card #price-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(.4rem, 1vw, .8rem);
}

#originalPrice,
#salePrice {
    font-size: clamp(.6rem, 1vw, .9rem);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#originalPrice {
    color: var(--pale-color);
}

#salePrice {
    color: var(--green-color);
}


/*==MORE PRODUCTS BTN==*/

#moreProducts-BTN {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;

    width: 15rem;
    padding: .8em 1em;

    border-radius: 5px;
    border: 1px solid var(--blue-color);

    background: var(--page-color);
    color: var(--blue-color);

    cursor: pointer;
    transition: .2s ease;

    font-size: 1rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
}

#moreProducts-BTN:hover {
    background-color: #4a82c20d;
    box-shadow: 0px 0px 3px #737373;
    border: 1px solid #4A82C2;
    color: var(--blue-color);
}


/*==RESPONSIVE SCREENS==*/


/*==SCREEN 1300==*/

@media (max-width: 1300px) {

    /* TITLE */

    #title h4 {
        font-size: 1.3rem;
    }

    #title h3 {
        font-size: 1.5rem;
    }

    #title p {
        font-size: 1rem;
    }


    /* PRODUCT CARDS */

    #card-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        /* display: grid;
        grid-template-columns: repeat(4, 3fr) !important; */
    }

    .product-card {
        max-width: 100%;
        /* border: 1px solid red; */
    }


    /*==CARD HOVER ACTIONS==*/

    .product-actions {
        top: 25%;
        right: 8%;
    }

    .discount {
        top: 45%;
    }

    .rating-wrapper {
        font-size: .8rem;
    }

    .add-to-basket {
        font-size: .7rem;
    }
}


/*==SCREEN 1030==*/

@media (max-width: 1030px) {

    .product-card h5 {
        font-size: .7rem;
    }

    .product-card a {
        font-size: .6rem;
    }

    #originalPrice,
    #salePrice {
        font-size: .6rem;
    }
}


/*==SCREEN 1024==*/

@media (max-width: 1024px) {

    #productSection {
        margin-top: 15%;
    }


    /* PRODUCT CARD */

    #card-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }


    /*==ACTION BTN==*/

    .product-actions {
        top: 22%;
        right: 8%;
    }


    /*==DISCOUNT==*/

    .discount {
        top: 40%;
    }

    .rating-wrapper {
        font-size: .8rem;
    }

    .add-to-basket {
        font-size: .7rem;
    }
}


/*==SCREEN 916==*/

@media (max-width: 916px) {

    #card-wrapper {
        gap: 1.5rem;
    }

    .product-card h5 {
        font-size: .65rem;
        text-wrap: wrap;
        text-align: center;
    }

    .product-card a {
        font-size: .6rem;
        text-wrap: wrap;
        text-align: center;
    }
}


/*==SCREEN 768==*/

@media (max-width: 768px) {

    /*==PRODUCT SECTION==*/

    #productSection {
        margin-top: 30% !important;
    }

    #productSection #title h4 {
        font-size: 1rem;
    }

    #productSection #title h3 {
        font-size: 1.2rem;
    }

    #productSection #title p {
        font-size: .8rem;
    }


    /*==PRODUCT CARDS==*/

    #card-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: 85%;
        gap: 1.5rem;
    }


    /*==HOVER ACTIONS==*/

    .product-actions {
        right: 7%;
    }

    .discount {
        left: 8%;
    }

    .out-of-stock {
        left: 15%;
    }
}


/*==MOBILE SCREENS==*/

@media (max-width: 426px) {

    #productSection {
        margin-top: 320% !important;
    }

    #productSection #title {
        gap: .1rem;
    }

    #productSection #title h4 {
        display: none;
    }

    #productSection #title h3 {
        width: 9rem;
        text-align: center;
    }

    #productSection #title p {
        width: 15rem;
        text-align: center;
    }


    /*==PRODUCT CARDS==*/

    #card-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        gap: 2rem;
    }


    /*==HOVER ACTIONS==*/

    .product-actions {
        right: 8%;
    }

    .discount {
        left: 10%;
    }

    .out-of-stock {
        left: 20%;
    }
}


/*==SMALL MOBILE==*/

@media (max-width: 360px) {

    #card-wrapper {
        width: 85%;
    }

    .product-card {
        gap: .6rem;
    }

    .product-actions {
        right: 7%;
    }
}