/* BEGINING */
#productSection {
    margin-top: 25%;
    /* border: 1px solid red; */
}

#productSection #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#title h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--writeUp-color);
}

#title h3 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--heading-color);
}

#title p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--writeUp-color);
}

/* PRODUCT CARDS */
#card-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    justify-self: center;
    gap: 2.5rem;
    margin-top: 50px;
    width: clamp(20%, 90vw, 75%);
    /* border: 1px solid red; */
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 30rem;
    /* border: 1px solid red; */
}

article img {
    width: 100%;
}

article h5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--heading-color);
}

article a {
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    line-height: 24p;
    letter-spacing: 0.2px;
    color: var(--writeUp-color);
}

article #price-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

#originalPrice {
    font-size: .9rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--pale-color);
}

#salePrice {
    font-size: .9rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--green-color);
}

#moreProducts-BTN {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 15rem;
    padding: .8em 1em;
    border-radius: 5px;
    border: 1px solid var(--blue-color);
    background: var(--page-color);
    color: var(--blue-color);
    cursor: pointer;
    transition: 0.2s ease;

    font-size: 1rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;

}

#moreProducts-BTN:hover {
    background-color: #4a82c20d;
    box-shadow: 0px 0px 3px #737373;
    border: 1px solid #4A82C2;
    color: var(--blue-color);
}



/*===RESPONSIVE SCREENS==*/
@media (max-width: 1300px) {
    /* TITLE */
    #title h4 {
        font-size: 1.3rem;
    }

    #title h3 {
        font-size: 1.5rem;
    }

    #title p {
        font-size: 1rem;
    }

    article h5 {
        font-size: .8rem;
    }

    article a {
        font-size: .7rem;
    }

    #originalPrice, #salePrice {
        font-size: .7rem;
    }
}


/* ===SCREEN 1030=== */
@media (max-width: 1030px) {
    article h5 {
        font-size: .7rem;
    }

    article a {
        font-size: .6rem;
    }

    #originalPrice, #salePrice {
        font-size: .6rem;
    }
}

/* ==SCREEN 1024== */
@media (max-width: 1024px) {
    #productSection {
        margin-top: 15%;
    }
}

/* ==SCREEN 916== */
@media (max-width: 916px) {
    article h5 {
        font-size: .65rem;
        text-wrap: wrap;
        text-align: center;
    }

    article a {
        font-size: .6rem;
        text-wrap: wrap;
        text-align: center;
    }
}

/* ===SCREEN 768=== */
@media (max-width: 768px) {
    /*==PRODUCT SECTION==*/
    #productSection {
        margin-top: 30% !important;
    }

    #productSection #title h4 {
        font-size: 1rem;
    }

    #productSection #title h3 {
        font-size: 1.2rem;
    }

    #productSection #title p {
        font-size: .8rem;
    }

    /*== PRODUCTS CARDS ==*/
    #card-wrapper {
        grid-template-columns: repeat(4, 3fr);
    }
}
